.tb
{
    color: #000;
    background: #fff;
    border-style: solid;
    border-color: #e91e63;
    border-width: 2px;
    // background: #e91e63;
}

.active
{
    color: #fff;
    background: #e91e63;
}
