<div class="container p-4">
    <!-- <ul class="nav grey lighten-4 py-4">
        <li class="nav-item">
            <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
    </ul> -->
    <div class="row tb">
        <div class="col-6 p-0">
            <button mdbBtn type="button" block="true" routerLink="" routerLinkActive="active" mdbWavesEffect>Activity Kits</button>
        </div>
        <div class="col-6 p-0">
            <button mdbBtn type="button" block="true" routerLink="ksp" routerLinkActive="active" mdbWavesEffect>KSP Merchandies</button>
        </div>
    </div>
</div>
<div class="container-fluid elegant-color p-4">
    <div class="row">
        <div class="col-md-5">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg" class="img-fluid">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 align-middle">
            <h2 class="h2-responsive pink-text text-center">Exciting Lives Happy Birthday</h2>
            <h2 class="h2-responsive pink-text text-center">Smiley Mugs For Birthdays</h2>
            <p class="white-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium illum quae ducimus magnam itaque vitae, exercitationem aliquam doloribus voluptatem animi eveniet eligendi eius, neque ipsum ea soluta assumenda. In, explicabo!</p>
            <!-- <br> -->
            <div class="row">
                <div class="col"></div>
                <div class="col text-center">
                    <button mdbBtn type="button" color="pink" class="" mdbWavesEffect>buy now</button>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
